<label for="title">titre</label>
<input type="text" id="title" name="title" value=<%=article.title %>>

<label for="description">description</label>
<input type="text" id="description" name="description" value=<%=article.description %>>

<label for="markdown">markdown</label>
<input type="text" id="markdown" name="markdown" value=<%=article.markdown %>>